/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 18px; /* Увеличенный базовый размер шрифта */
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header, .navigation, .content {
    margin-bottom: 20px;
}

.header {
    text-align: center;
    background-color: #ffc0cb;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    position: relative;
}

.header p {
    font-size: 24px; /* Увеличенный размер шрифта */
    margin: 0;
}

.header .banner {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .header .banner {
        width: 25%; /* Размер баннера для экранов шире 768px */
    }
}

h2 {
    color: #d147a3;
    font-size: 22px; /* Увеличенный размер шрифта */
}

a {
    color: #d147a3;
    text-decoration: none;
    font-size: 18px; /* Увеличенный размер шрифта */
}

a:hover {
    text-decoration: underline;
}

.participants-list {
    list-style: none;
    padding: 0;
}

.participants-list li {
    padding: 10px;
    border-bottom: 1px solid #ffc0cb;
    font-size: 18px; /* Увеличенный размер шрифта */
}

.participants-list li a {
    color: #d147a3;
    text-decoration: none;
}

.participants-list li a:hover {
    text-decoration: underline;
}
